$primary: #ff0000; //Covalence Blue!  :D
$secondary: #25262780;
$info: #4b0492f6;
$success: #5560ffe3;
$font-family-base: 'Courier New', monospace;
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");
